.title{
    font-family: "Berlin Sans FB";
    font-weight: lighter;
}
.kader{
    margin: 10px;
    border: 2px solid navy;
    border-radius: 8px;
    background-color: rgba(0, 0, 128, 0.204);
    
    
}
.textss{
    text-decoration: none;
    text-align: center;
    
}
.date{
    font-style: oblique;
    text-align: center;
}

h2{
    text-align: center;
}
div {
    
    color:black
}

